<app-organizer-navbar></app-organizer-navbar>


<div class="container">
  <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
    <div class="card-body">
      <div class="row">
        <ul class="list-inline">
          <li class="list-inline-item"> <img
              src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035860/Pra/Hadie-profile-pic-circle-1.png"
              alt="DP" class=" rounded-circle img-fluid " width="70" height="70"> </li>
        </ul>
        <div class="col-3" id="titleTag">
          <h4 class="card-title "><b>Organizer Name</b></h4>
          <h4 id="priceTag"><b>Price :</b></h4>
          <br>
          <h4 class="card-title "><b>Trip Title</b></h4>
          <br>
          <h4 class="card-title "><b>Trip Description :</b></h4>
          <br>
          <h4 class="card-title "><b>Date :</b></h4>
          <br>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white px-0 ">
      <div class="row">
        <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent"
            data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19">
            <small><strong>Edit</strong></small></a> <i class="mdi mdi-settings-outline"></i> <a href="#"
            class=" btn-outlined btn-black text-muted"><img src="https://img.icons8.com/metro/26/000000/link.png"
              width="17" height="17" id="plus"> <small>Cancel</small> </a><span class="vl ml-3"></span> </div>
        <div class="col-md-auto ">
          <ul class="list-inline">
            <li class="list-inline-item"> <img
                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1573035860/Pra/Hadie-profile-pic-circle-1.png"
                alt="DP" class=" rounded-circle img-fluid " width="35" height="35"> </li>
            <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30"
                height="30 " class="more"> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
