
h3 {
  margin-left: 30%;
}

.titleDiv {
  margin: 5%;
}
img {
  height: 250px;
  margin-bottom: 10%;
}

#main {
   margin-top: 3%;
   background-color: white;
   margin-left:5%;
   width: 90%;
   height: 95%;
   border-radius: 2%;
   box-shadow: 5px 3px 10px 1px #888888;
   margin-top: 7%;
   padding:2%
 }

.btn {
  margin-right: 20px;
}
