
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
h3 {
  margin-left: 15%;
}
img {
  height: 220px;
  width: 220px;
  margin-bottom: 5%;
}

.titleDiv {
  margin: 5%;
}

.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
label {
  margin-bottom: 30px;
}

button {
  float: right;
  margin: 1%;
}
