<app-organizer-navbar></app-organizer-navbar>
<section id="principal-content">
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12">
        <article>
          <header>
            <h2 class="text-primary text-center">

            </h2>
          </header>
          <div class="row" id="design">
            <div class="col-md-4 col-md-offset-1">
              <div class="home-design-info">
                <figure>
                  <img class="img-circle img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png">
                  <p>organizer name</p>
                </figure>
              </div>
            </div> <!-- 4 -->
            <div class="col-md-6">
              <div class="deets">

                <h3 class="text-primary"><span class="glyphicon glyphicon-arrow-right"></span> organizer name
                </h3>
                <div>
                  date : 22/12/2021
                </div>
                <div>
                  price : 20$
                </div>
                <div>
                  <p>Trip description : <br>Hello, this is my personal description
                    I am writing texts that come out of my mind
                    in order not to lorem ipsum
                    the following will say that bootdey is a gallery of snippets for bootstrap
                    Csss Js HTML codes.</p>
                </div>

              </div>
            </div>
          </div> <!-- /row -->

        </article>
        <button class="edit" mat-flat-button color="warn">
          Edit
        </button>
        <button class="cancel" mat-flat-button color="warn">
          Cancel
        </button>
        <button class="addGuide" mat-flat-button color="warn">
          Add a Local Guide
        </button>
      </div>
    </div>
  </div>
</section>
