<app-organizer-navbar></app-organizer-navbar>

<!--  -->
<div class="container">
  <div class="card">
    <div id="image" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img src="https://placeimg.com/380/230/nature" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="https://placeimg.com/380/230/nature" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://placeimg.com/380/230/nature" class="d-block w-100" alt="..." />
        </div>
      </div>
      <a class="carousel-control-prev" href="#image" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#image" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
  </div>
  <section id="principal-content">
    <div class="col-md-12" id="main">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <figure>
            <img class="img-circle img-thumbnail" src="https://placeimg.com/380/230/nature" />
            <h3><strong>Organizer name</strong></h3>
          </figure>
        </div>
        <!-- 4 -->
        <div class="col-md-6">

          <div class="titleDiv">
            <h3 class="text-primary">
              <strong> {{ trip[0].title | titlecase }} </strong>
            </h3>
          </div>

          <div>
            <p><strong>Date : </strong> &nbsp;{{ trip[0].date | date }}</p>
            <hr />
            <p>
              <strong>Location : </strong>&nbsp;{{
                trip[0].location | titlecase
              }}
            </p>
            <hr />
            <p><strong>Price : </strong>&nbsp;{{ trip[0].price }} DT</p>
            <hr />
            <p>
              <strong>Trip description : </strong>&nbsp;{{
                trip[0].description
              }}
            </p>
            <hr />
          </div>
          <div class="row">
            <button type="button" class="btn btn-info col col-md-2 col-sm" (click)="goEdit()">
              Edit
            </button>
            <button *ngIf="trip[0].guide.length ===0" (click)="goToGuides()" type="button"
              class="btn btn-secondary col col-md-6 col-sm">
              Add a Local Guide
            </button>
            <button *ngIf="trip[0].guide[0]" (click)="getGuideInfo(trip[0].guide[0], trip[0]._id)" type="button"
              class="btn btn-success col col-md-6 col-sm">
              Show My Guide
            </button>
            <button type="button" class="btn btn-danger col col-md-3 col-sm" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
        <div class="col-md-2">
          <div id="pubBtn" class="text-right">
            <button *ngIf="trip[0].guide.length === 1 && publishStatus === false && trip[0].guide.length !==0"
              (click)="publish(trip[0]._id)" type="button" class="btn btn-primary">
              Publish
            </button>
            <button *ngIf="trip[0] && publishStatus === true" (click)="unpublish(trip[0]._id)" type="button"
              class="btn btn-primary">
              Unpublish
            </button>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </section>
</div>
