<form class="form-signin">
  <div class="form-signin-container">
    <h1>Sign in</h1>
    <!-- E-mail -->
    <input
      name="userName"
      type="text"
      id="defaultRegisterFormEmail"
      class="form-control mb-4 form-control-lg"
      placeholder="Username"
      [(ngModel)]="credentials.username"
    />
    <!-- Password -->
    <input
      name="password"
      type="password"
      id="defaultRegisterFormPassword"
      class="form-control mb-4 form-control-lg"
      placeholder="Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock"
      [(ngModel)]="credentials.password"
    />
    <!-- Sign in button -->
    <button
      type="submit"
      class="btn btn-danger btn-signin"
      (click)="onSubmit()"
    >
      Sign in
    </button>
    <br />
    <p class="lead">
      You already have an account? <a [routerLink]="['/signup']">sign up.</a>
    </p>
  </div>
</form>
