.background-img {
  background-image: url(https://www.les-voyageuses.net/wp-content/uploads/2018/04/Lesvoyageuses-equipement-accessoires-randonne%CC%81es-treks-4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.form-signin {
  background-color: rgb(240, 248, 255, 0.6);
  width: 500px;
  text-align: center;
  margin: 100px auto;
  border: none;
  border-radius: 10px;
  padding: 30px;
}
.form-signin-container {
  margin: 0px auto;
}
.btn-signin {
  background-color: red;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 28px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .form-signin {
    background-color: white;
    margin: 0px;
    border-radius: 0px;
    padding: 10px;
    width: 100%;
    height: 100vh;
  }
  .form-signin-container {
    margin: 100px auto;
  }
}
