<div class="container guide-profile">
  <div class="row justify-content-md-center">
    <mat-card class=" col-md-8 col-sm-12 ">

      <form>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <i class="mdi mdi-account-circle mr-1"></i> Personal Info
        </h5>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname"
                [(ngModel)]="organizer.first_name" name="first" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname"
                [(ngModel)]="organizer.last_name" name="last" />
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">Gender:</label>
              <select
                class="form-control"
                id="sel1"
                (change)="genderHandler($event)"
              >
                <option [(ngModel)]="organizer?.gender" name="gender">
                  {{ organizer?.gender }}
                </option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
          </div> -->
          <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="useremail">Email Address</label>
              <input type="email" class="form-control" id="useremail" placeholder="{{ organizer.email }}"
                [(ngModel)]="organizer.email" name="email" />
              <span class="form-text text-muted"><small>If you want to change email please
                  <a href="javascript: void(0);">click</a> here.</small></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastname">Phone number</label>
              <input type="text" class="form-control" id="phone" placeholder="{{ organizer.phone_number }}"
                [(ngModel)]="organizer.phone_number" name="phone" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" placeholder="{{ organizer.location }}"
                [(ngModel)]="organizer.location" name="location" />
            </div>
          </div>
          <!-- <div class="col-md-6">
          <div class="form-group">
            <div>
              <dp-day-calendar theme="dp-material" [(ngModel)]="selectedDate" [config]="config">
              </dp-day-calendar>
            </div>
          </div>
        </div> end col -->
        </div>
        <!-- end row -->

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="userbio">Bio</label>
              <textarea class="form-control" id="userbio" rows="4" placeholder="Write something..."
                [(ngModel)]="organizer.bio" name="bio"></textarea>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

        <!-- <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Company Info
      </h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="companyname">Company Name</label>
            <input type="text" class="form-control" id="companyname" placeholder="Enter company name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="cwebsite">Website</label>
            <input type="text" class="form-control" id="cwebsite" placeholder="Enter website url">
          </div> -->
        <!-- </div> end col -->
        <!-- </div> end row -->

        <!-- <h5 class="mb-3 text-uppercase bg-light p-2">
          <i class="mdi mdi-earth mr-1"></i> Social
        </h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="social-fb">Facebook</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fab fa-facebook-square"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="social-fb"
                  placeholder="Url"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="social-tw">Twitter</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fab fa-twitter"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="social-tw"
                  placeholder="Username"
                />
              </div>
            </div>
          </div> -->
        <!-- end col -->
        <!-- </div> -->
        <!-- end row -->

        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="social-insta">Instagram</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fab fa-instagram"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="social-insta"
                  placeholder="Url"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="social-lin">Linkedin</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fab fa-linkedin"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="social-lin"
                  placeholder="Url"
                />
              </div>
            </div>
          </div> -->
        <!-- end col -->
        <!-- </div> -->
        <!-- end row -->

        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="social-sky">Skype</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fab fa-skype"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="social-sky"
                  placeholder="@username"
                />
              </div>
            </div>
          </div> -->
        <!-- end col -->
        <!-- </div> -->
        <!-- end row -->

        <div class="text-right">
          <button (click)="onClick()" type="submit" class="btn btn-success waves-effect waves-light mt-2">
            <i class="mdi mdi-content-save"></i> Save
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
