<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">Guides list:</h1>
      <hr />
      <mat-card *ngIf="guidesList.length === 0" class="info-card">
        <div class="alert alert-info" role="alert">
          <h1>
            <span class="material-icons align-middle"> info </span>There are no
            guides in this regien for now!!
          </h1>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-4 col-sm" *ngFor="let guide of guidesList">
      <app-guides-list-item [guide]="guide"></app-guides-list-item>
    </div>
  </div>
</div>
