<!-- <app-visitor-navbar></app-visitor-navbar>

<div class="main_div">
  <div>
    <label for="fname">Name of trip:</label>
    <input type="text" id="tname" name="tname" /><br /><br />
  </div>
  <div>
    <label for="dateOftrip">Date of trip:</label>
    <input type="date" id="dateOftrip" name="dateOftrip" />
  </div>
</div> -->

<h1>Pick a trip</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Title</td>
      <td>location</td>
      <td>date</td>
      <td>price</td>
      <td>description</td>
      <td>max travelers</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{ trip.title }}</td>
      <td>{{ trip.location }}</td>
      <td>{{ trip.date }}</td>
      <td>{{ trip.price }}</td>
      <td>{{ trip.description }}</td>
      <td>{{ trip.maxTravelers }}</td>
    </tr>
  </tbody>
</table>
