body {
  font-family: 'Rubik', sans-serif;
  height: 100% !important;
  background-color: #3F51B5 !important
}

.more {
  opacity: 0.5 !important
}

#plus {
  opacity: 0.8
}

.card {
  border-radius: 10px !important
}

a:hover {
  background-color: #ccc !important
}

.btn-outlined:active {
  color: #FFF;
  border-color: #fff !important
}

img {
  cursor: pointer;
  overflow: visible;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important
}

.amber-border {
  border: 1px solid red;
}

.searchComponent {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.search-bar-input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0;
}

.search-bar-button {
  font-size: 20px;
  width: 150px;
  height: 50px;
  background-color: red;
  color: #FFF;
  font-weight: 500;
}
