<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <input
        name="title"
        ngDefaultControl
        type="text"
        class="form-control"
        [(ngModel)]="qualification.title"
      />
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <select class="form-control">
        <option selected [ngModel]="qualification.current_level" name="level" ngDefaultControl>
          {{ qualification.current_level }}
        </option>
        <option *ngFor="let level of qualification.levels" name="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <button
      class="form-group btn btn-danger"
      (click)="deleteEntry(qualification._id)"

    >
      <span class="material-icons"> delete_forever </span>
    </button>
  </div>
</div>
