<app-visitor-navbar></app-visitor-navbar>

<!--  -->
<!-- <div class="container">
  <section id="principal-content">
    <div class="col-md-12" id="main">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <figure>
            <img
              class="img-circle img-thumbnail"
              src="https://placeimg.com/380/230/nature"
            />
            <div id="infoDiv">
              <h3><strong>Organizer name</strong></h3>
              <a [routerLink]="['/organizer', this.organizer?._id, 'profile']"
                ><strong>{{
                  this.organizer?.first_name + " " + this.organizer?.last_name
                }}</strong></a
              ><br />
              <h3><strong>Guide name</strong></h3>
              <a
                *ngFor="let guideId of this.tripDetails?.guide"
                [routerLink]="['/guide', guideId, 'profile']"
                ><strong>{{
                  guideInfo.first_name + " " + guideInfo.last_name
                }}</strong></a
              >
              <a href="#" *ngIf="tripDetails?.guide?.length === 0">
                No guide assigned </a
              ><br />
            </div>
          </figure>
        </div> -->
<!-- 4 -->
<!-- <div class="col-md-6">
          <div class="titleDiv">
            <h3 class="text-primary">
              <strong> {{ tripDetails?.title | titlecase }} </strong>
            </h3>
          </div>

          <div id="basicInfo">
            <p><strong>Date : </strong> &nbsp;{{ tripDetails?.date | date }}</p>
            <hr />
            <p>
              <strong>Location : </strong>&nbsp;{{
                tripDetails?.location | titlecase
              }}
            </p>
            <hr />
            <p><strong>Price : </strong>&nbsp;{{ tripDetails?.price }} DT</p>
            <hr />
            <p>
              <strong>Trip description : </strong>&nbsp;{{
                tripDetails?.description
              }}
              {{ isLoggedIn }}
            </p>
            <hr />
          </div>
        </div>
      </div>
      <button
        class="bookBtn"
        *ngIf="
          isLoggedIn === false ||
          !tripDetails.travelers.includes(currentUser.id)
        "
        (click)="book(tripDetails?._id)"
      >
        Book
      </button>
      <button
        class="bookBtn"
        *ngIf="tripDetails.travelers.includes(currentUser.id)"
        (click)="cancelBooking(tripDetails?._id)"
      >
        Cancel Booking
      </button> -->
<!-- /row -->
<!-- </div>
  </section>
</div> -->



<div class="container">
  <div class="card">
    <div id="image" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img
            src="https://placeimg.com/380/230/nature"
            class="d-block w-100"
            alt="Trip Location Images"
          />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://placeimg.com/380/230/nature"
            class="d-block w-100"
            alt="Trip Location Images"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://placeimg.com/380/230/nature"
            class="d-block w-100"
            alt="Trip Location Images"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#image"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#image"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
    <div class="card-body">
      <div class="row" id="priceDiv">
        <div class="col col-md-12"></div>
      </div>
      <div class="row">
        <div class="col col-md-8">
          <h3 class="col-md-6" id="tripTitle">
            {{ tripDetails?.title | titlecase }}
          </h3>
          <footer class="blockquote-footer">
            Organized By
            <cite title="Source Title"
              ><a [routerLink]="['/organizer', this.organizer?._id, 'profile']"
                ><strong>{{
                  this.organizer?.first_name + " " + this.organizer?.last_name
                }}</strong></a
              ></cite
            >
          </footer>
          <div class="dateLoc">
            <p>
              <span class="material-icons">date_range</span>
              {{ tripDetails?.date | date }}
            </p>
            <p>
              <span class="material-icons"> location_on </span
              >{{ tripDetails?.location | titlecase }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-book-holder">
            <h1 id="priceTag">
              <span class="badge badge-light"
                >{{ tripDetails?.price | currency: "TND":"symbol" }}
              </span>
              <!-- <strong>{{ tripDetails?.price }} DT</strong> -->
            </h1>
            <button
              type="button"
              class="btn btn-warning btn-lg book-btn"
              *ngIf="
                isLoggedIn === false ||
                !tripDetails.travelers.includes(currentUser.id)
              "
              (click)="book(tripDetails?._id)"
            >
              <strong> Book now </strong>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-lg book-btn"
              *ngIf="tripDetails.travelers.includes(currentUser.id)"
              (click)="cancelBooking(tripDetails?._id)"
            >
              Cancel Booking
            </button>
          </div>
          <div><small class="text-muted">5/20 place remaining</small></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <hr />
          <h2>Description</h2>
          <p>{{ tripDetails?.description }}</p>
        </div>
      </div>
    </div>
    <google-map width="100%"></google-map>
  </div>
</div>
