
.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

h4 {
  margin-top: 2%;
  margin-left: 3%;
}

.card {
  box-shadow: 0px 3px 30px 1px #888888;
}

.dateLoc {
  display: inline-flex;
}
img {
  height: 400px;
}

button {
  float: right;
  margin-right: 15%;
  width: 250px;
  height: 50px;
  font-size: 25px;
}
#priceDiv {
  margin-right: 4%;
}

#tripTitle {
  font-size: 30px;
}

#priceTag {
  float: right;
  font-size: 25px;
}

div footer {
  font-size: 15px;
  margin-left: 3%;
}
