<div class="container guide-profile">
  <div class="row justify-content-md-center">
    <mat-card class="col-md-8 col-sm-12">
      <form>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <span class="material-icons">person</span> Personal Info
        </h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstname">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                name="firstname"
                [(ngModel)]="guide.first_name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastname">Last name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                [(ngModel)]="guide.last_name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="guide.email"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input
                type="text"
                class="form-control"
                id="mobile"
                name="mobile"
                [(ngModel)]="guide.phone_number"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="username">Your biography</label>
              <textarea
                class="form-control"
                rows="10"
                id="biography"
                name="biography"
                [(ngModel)]="guide.bio"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn btn-success waves-effect waves-light mt-2"
              (click)="saveData()"
            >
              <i class="far fa-save"></i>
              Save changes
            </button>
          </div>
        </div>
      </form>
      <br />
      <br />
      <form>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <mat-icon>security</mat-icon>
          <i class="material-icons"></i>Password
        </h5>
        <div
          *ngIf="showErrorMessage"
          class="alert alert-danger hidden"
          role="alert"
        >
          {{ alertMessage }}
        </div>
        <div
          *ngIf="showSuccessMessage"
          class="alert alert-success"
          role="alert"
        >
          {{ alertMessage }}
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="userpassword"> Your current password</label>
              <input
                name="currentPassword"
                type="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': showErrorMessage }"
                id="userpassword"
                placeholder="Enter password"
                [(ngModel)]="currentPassword"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="userpassword">New password</label>
              <input
                name="newPassword"
                type="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': showErrorMessage }"
                id="userpassword"
                placeholder="Enter password"
                [(ngModel)]="newPassword"
              />
            </div>
          </div>
          <!-- end col -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn btn-success waves-effect waves-light mt-2"
              (click)="changePassword()"
            >
              <i class="far fa-save"></i>
              Change password
            </button>
          </div>
        </div>
      </form>
      <br />
      <br />
      <!-- Skills -->
      <div>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <i class="material-icons">language</i> Skills
        </h5>
        <div *ngFor="let qualification of this.guide?.qualifications">
          <app-entry
            *ngIf="qualification.type === 'skills'"
            [qualification]="qualification"
            [deleteUserQualification]="deleteUserQualification"
          >
          </app-entry>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input
                let
                type="text"
                class="form-control"
                placeholder="I speak ..."
                [(ngModel)]="userQualifications.title"
                name="language"
              />
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <select
                class="form-control"
                name="qualifications"
                [(ngModel)]="userQualifications.current_level"
              >
                <option value="beginner">Beginner</option>
                <option value="average">Average</option>
                <option value="advanced">Advanced</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <button
              class="btn btn-success"
              (click)="addQualification('skills')"
            >
              <span class="material-icons"> add_circle_outline </span>
            </button>
          </div>
        </div>
      </div>
      <!-- Start of guide qualifications: languages, skills and experiences. -->
      <div>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <i class="material-icons">language</i> Languages
        </h5>
        <div *ngFor="let qualification of this.guide?.qualifications">
          <app-entry
            *ngIf="qualification.type === 'language'"
            [qualification]="qualification"
            [deleteUserQualification]="deleteUserQualification"
          >
          </app-entry>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input
                let
                type="text"
                class="form-control"
                placeholder="I speak ..."
                [(ngModel)]="userQualifications.title"
                name="language"
              />
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <select
                class="form-control"
                name="qualifications"
                [(ngModel)]="userQualifications.current_level"
              >
                <option value="beginner">Beginner</option>
                <option value="average">Average</option>
                <option value="advanced">Advanced</option>
                <option value="native">Native</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <button
              class="btn btn-success"
              (click)="addQualification('language')"
            >
              <span class="material-icons"> add_circle_outline </span>
            </button>
          </div>
        </div>
      </div>
      <!-- Experience -->
      <div>
        <h5 class="mb-3 text-uppercase bg-light p-2">
          <i class="material-icons">Experience</i> Experience
        </h5>
        <div *ngFor="let qualification of this.guide?.qualifications">
          <app-entry
            *ngIf="qualification.type === 'experience'"
            [qualification]="qualification"
            [deleteUserQualification]="deleteUserQualification"
          >
          </app-entry>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input
                let
                type="text"
                class="form-control"
                placeholder="Add experience"
                [(ngModel)]="userQualifications.title"
                name="language"
              />
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <select
                class="form-control"
                name="qualifications"
                [(ngModel)]="userQualifications.current_level"
              >
                <option value="beginner">Beginner</option>
                <option value="average">Average</option>
                <option value="advanced">Advanced</option>
                <option value="native">Native</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <button
              class="btn btn-success"
              (click)="addQualification('experience')"
            >
              <span class="material-icons"> add_circle_outline </span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
    <!-- End of guide qualifications section-->
  </div>
</div>
