<app-organizer-navbar></app-organizer-navbar>
<h1>organize a trip</h1>
<form
  class="text-center border border-light p-5"
  [formGroup]="trip"
  (ngSubmit)="onSubmit()"
>
  <p class="h4 mb-4">organize a trip</p>

  <!-- Title -->
  <label>Title</label>
  <input
    type="text"
    id="defaultContactFormName"
    class="form-control mb-4"
    formControlName="title"
    [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
  />
  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
    <div *ngIf="f.title.errors.required">Title is required</div>
  </div>
  <!-- Location -->
  <label>location</label>
  <select
    name="location"
    id="cars"
    class="form-control mb-4"
    formControlName="location"
    [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
  >
    <option value="Ghar El melah">Ghar El melah</option>
    <option value="Rafraf">Rafraf</option>
    <option value="Rimel">Rimel</option>
  </select>

  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
    <div *ngIf="f.location.errors.required">Location is required</div>
  </div>
  <label>Price</label>
  <input
    type="text"
    id="defaultContactFormEmail"
    class="form-control mb-4"
    formControlName="price"
    [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
  />
  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
    <div *ngIf="f.price.errors.required">price is required</div>
  </div>

  <!-- Date of trips -->
  <label>Date of trips</label>
  <input
    type="date"
    formControlName="date"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
  />
  <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
    <div *ngIf="f.date.errors.required">date is required</div>
  </div>
  <!-- Description -->
  <label>Description</label>
  <div class="form-group">
    <textarea
      class="form-control rounded-0"
      id="exampleFormControlTextarea2"
      rows="3"
      formControlName="description"
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
    ></textarea>
  </div>
  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
    <div *ngIf="f.description.errors.required">description is required</div>
  </div>
  <label>Max Travelers</label>
  <input
    type="location"
    id="defaultContactFormEmail"
    class="form-control mb-4"
    formControlName="maxTravelers"
    [ngClass]="{ 'is-invalid': submitted && f.maxTravelers.errors }"
  />
  <div *ngIf="submitted && f.maxTravelers.errors" class="invalid-feedback">
    <div *ngIf="f.maxTravelers.errors.required">maxTravelers is required</div>
  </div>

  <!-- Send button -->
  <button class="btn btn-info btn-block">Send</button>
</form>
