<app-organizer-navbar></app-organizer-navbar>

<div class="container">
  <form id="contact" [formGroup]="trip" (ngSubmit)="onSubmit()">
    <h3>Create a new Trip</h3>
    <h4></h4>
    <!-- Title -->

    <fieldset>
      <label>Ttile</label>
      <input
        placeholder="Title"
        type="text"
        tabindex="1"
        formControlName="title"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        autofocus
      />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </fieldset>

    <!-- Location -->
    <fieldset>
      <label>Location</label>
      <select
        name="location"
        id="cars"
        class="form-control mb-4"
        formControlName="location"
        [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
      >
        <option value="Ghar El melah">Ghar El melah</option>
        <option value="Rafraf">Rafraf</option>
        <option value="Rimel">Rimel</option>
      </select>
      <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
        <div *ngIf="f.location.errors.required">Location is required</div>
      </div>
    </fieldset>

    <!-- Price -->
    <fieldset>
      <label>Price</label>
      <input
        placeholder="Price"
        type="tel"
        tabindex="3"
        formControlName="price"
        [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
      />
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">price is required</div>
      </div>
    </fieldset>
    <!-- Date of trips -->
    <fieldset>
      <label>Date of trip</label>
      <input
        placeholder="date"
        type="date"
        tabindex="4"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
        formControlName="date"
      />
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">date is required</div>
      </div>
    </fieldset>
    <!-- Max Travelers -->
    <fieldset>
      <label>Max Travelers</label>
      <input
        placeholder="Max Travelers"
        type="url"
        tabindex="4"
        formControlName="maxTravelers"
        [ngClass]="{ 'is-invalid': submitted && f.maxTravelers.errors }"
      />
      <div *ngIf="submitted && f.maxTravelers.errors" class="invalid-feedback">
        <div *ngIf="f.maxTravelers.errors.required">
          maxTravelers is required
        </div>
      </div>
    </fieldset>
    <!-- Description -->
    <fieldset>
      <label>Description</label>
      <textarea
        placeholder="Type your description here...."
        tabindex="5"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
      ></textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">description is required</div>
      </div>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
