@media (max-width: 420px) {
}
.example-spacer {
  flex: 1 1 auto;
}
.nav {
  background: #cf0008;
  box-shadow: 5px 3px 10px 1px #888888;
}

.avatar-img {
  width: 40px;
  border-radius: 50%;
}
.avatar-img:hover {
  cursor: pointer;
}

span {
  color: white;
  margin-right: 10px;
}
