<mat-toolbar class="nav">
  <img src="../../assets/Discoover red logo.PNG" />
  <span class="example-spacer"></span>
  <span>Our Social Impact </span>
  <span> | </span>
  <span> Help</span>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"> -->
  <img class="avatar-img" [src]="avatar" mat-button [matMenuTriggerFor]="beforeMenu" />
  <!-- </button> -->
  <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button> -->
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button (click)="goToProfile()" routerLink="/organizer/:id/profile" mat-menu-item>My profile</button>
    <button routerLink="/organizer/trips" mat-menu-item>My trips</button>
    <button routerLink="/organizer/trip/add" mat-menu-item>Add a trip</button>
    <button mat-menu-item (click)="signOut()">Sign out</button>
  </mat-menu>
</mat-toolbar>
