.sidenav-container {
  height: 100%;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  z-index: 999;
}

body {
  background-color: rgb(143, 140, 140) !important;
}
mat-sidenav-content {
  background-color: rgb(228, 225, 225) !important;
}

.spacer {
  flex: 1 1 auto;
}
.nav {
  background: #cf0008;
  box-shadow: 5px 3px 10px 1px #888888;
}
.logo {
  margin: 0 20px;
  padding: 10px 0px;
}

.sidenav {
  width: 300px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 60px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.sidenav .mat-toolbar {
  background: inherit;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10000;
  height: auto;
}

.side-menu-item {
  margin-left: 10px;
  font-size: larger;
}

.avatar-img {
  width: 40px;
  border-radius: 50%;
}
.avatar-img:hover {
  cursor: pointer;
}

mat-toolbar a {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-weight: lighter;
}
.toolbar-nav {
  margin: 0 10px;
}

mat-nav-list > a:hover {
  color: hsl(0, 0%, 77%)
}


