<!-- <app-organizer-profile></app-organizer-profile> -->
<!-- <app-guide-profile></app-guide-profile> -->
<!-- <app-guide-list></app-guide-list> -->
<router-outlet> </router-outlet>
<!-- <app-edit-trip></app-edit-trip> -->
<!-- <app-trip-details></app-trip-details> -->
<!-- <app-trip-list></app-trip-list> -->

<!-- <app-signin></app-signin> -->
<!-- <app-signup></app-signup> -->
<!-- <app-landing-page></app-landing-page> -->
<!-- <app-organizer-navbar></app-organizer-navbar> -->
<!-- <app-organize-a-trip></app-organize-a-trip> -->
<!-- <app-organizer-profile></app-organizer-profile> -->
<!-- <app-search-trip></app-search-trip> -->
<!-- <app-guide-list></app-guide-list> -->

<!-- <div id="material-example">

  <h1>ToolBar</h1>

  <mat-toolbar color="primary">

        <span>Material Design Rocks!</span>

  </mat-toolbar>

   <br/>

   <h1>Buttons</h1>

 <mat-card>

  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>mFab</button>

</mat-card>

</div> -->

