<!-- <app-organizer-profile></app-organizer-profile> -->
<!-- <app-guide-profile></app-guide-profile> -->
<!-- <app-guide-list></app-guide-list> -->
<router-outlet> </router-outlet>
<!-- <app-trip-details></app-trip-details> -->
<!-- <app-trip-list></app-trip-list> -->

<!-- <app-signin></app-signin> -->
<!-- <app-signup></app-signup> -->
<!-- <app-landing-page></app-landing-page> -->
<!-- <app-organizer-navbar></app-organizer-navbar> -->
<!-- <app-organize-a-trip></app-organize-a-trip> -->
<!-- <app-organizer-profile></app-organizer-profile> -->
<!-- <app-search-trip></app-search-trip> -->
<!-- <app-trip-details-vistor></app-trip-details-vistor> -->
<!-- <app-visitor-navbar></app-visitor-navbar> -->
<!-- <app-profile></app-profile> -->
