
<div class="container">
  <form id="contact" #editTripForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>Edit a trip</h1>
    <!-- Title -->
    <fieldset>
      <label>Title</label>
      <input
        placeholder="Title"
        type="text"
        tabindex="1"
        value="{{ newTrip.title }}"
        #title="ngModel"
        [(ngModel)]="newTrip.title"
        name="title"
      />
    </fieldset>
    <!-- location -->

    <fieldset>
      <label>Location</label>
      <select
        name="location"
        id="cars"
        class="form-control mb-4"
        value="{{ newTrip.location }}"
        #location="ngModel"
        [(ngModel)]="newTrip.location"
      >
        <option value="Ghar El melah">Ghar El melah</option>
        <option value="Rafraf">Rafraf</option>
        <option value="Rimel">Rimel</option>
      </select>
    </fieldset>

    <!-- Price -->
    <fieldset>
      <label>Price</label>
      <input
        placeholder="Price"
        type="tel"
        tabindex="3"
        value="{{ newTrip.price }}"
        #price="ngModel"
        [(ngModel)]="newTrip.price"
        name="price"
      />
    </fieldset>

    <!-- Date -->
    <fieldset>
      <label>Date</label>
      <input
        placeholder="date"
        type="date"
        tabindex="4"
        class="form-control"
        value="{{ newTrip.date }}"
        #date="ngModel"
        [(ngModel)]="newTrip.date"
        name="date"
      />
    </fieldset>
    <!-- Max Travelers -->

    <fieldset>
      <label>Max Travelers</label>
      <input
        placeholder="Max Travelers"
        type="text"
        tabindex="4"
        class="form-control"
        value="{{ newTrip.maxTravelers }}"
        #maxTravelers="ngModel"
        [(ngModel)]="newTrip.maxTravelers"
        name="maxTravelers"
      />
    </fieldset>
    <!-- Description -->
    <fieldset>
      <label>Description</label>
      <textarea
        placeholder="Type your description here...."
        tabindex="5"
        name="description"
        class="form-control"
        value="{{ newTrip.description }}"
        #description="ngModel"
        [(ngModel)]="newTrip.description"
      ></textarea>
    </fieldset>

    <!-- Send button -->
    <!-- <button (click)="onSubmit()" class="btn btn-info btn-block">Send</button> -->
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
