.guide-profile {
  margin-top: 50px;
}

#propAlert {
  margin-top: 25px;
}

#textP {
  margin-left: 20%;
  margin-top: 5%;
}

.info {
  display: inline-flex;
}

svg {
  margin-right: 5%;
}

#guideButtons {
  float: right;
  margin-left: 2%;
}

.image-upload {
  margin: 0 auto;
}
.image-upload img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.image-upload > input {
  display: none;
}
.image-upload img:hover {
  border: solid rgb(78, 148, 240) 10px;
  cursor: pointer;
}
