.example-spacer {
  flex: 1 1 auto;
}
.nav {
  position: absolute;
  background: transparent;
}

.avatar-img {
  width: 30px;
}

.signInBtn {
  margin-right: 10px;
  background-color: red;
}
span {
  margin-right: 10px;
}
/*
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive, span, button {
    position: absolute;
    right: 0;
    top: 0;
  }
} */
