.example-spacer {
  flex: 1 1 auto;
}
.nav {
  background: white;
  box-shadow: 5px 3px 10px 1px #888888;
}

.avatar-img {
  width: 30px;
}

.signInBtn {
  margin-right: 10px;
  background-color: red;
}
span {
  margin-right: 10px;
}
