<app-organizer-navbar [avatar]="organizer.avatar"></app-organizer-navbar>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<div class="container organizer-profile">
  <div class="row">
    <div class="col-lg-4 col-xl-4">
      <div class="card-box text-center">
        <img [src]="organizer.avatar" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" />

        <h2 class="mb-0">
          {{ organizer.first_name + " " + organizer.last_name }}
        </h2>

        <button
          type="button"
          class="btn btn-success btn-xs waves-effect mb-2 waves-light"
        >
          Update Photo
        </button>

        <div class="text-left mt-3">
          <h4 class="font-13 text-uppercase">About Me :</h4>
          <p class="text-muted font-13 mb-3">
            {{ organizer.bio }}
          </p>
          <p class="text-muted mb-2 font-13">
            <strong>Full Name :</strong>
            <span class="ml-2">{{
              organizer.first_name + " " + organizer.last_name
            }}</span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Mobile :</strong
            ><span class="ml-2">+216{{ organizer.phone_number }} </span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Email :</strong>
            <span class="ml-2">{{ organizer.email }}</span>
          </p>

          <p class="text-muted mb-1 font-13">
            <strong>Location :</strong>
            <span class="ml-2">{{ organizer.location }}</span>
          </p>
        </div>

        <!-- <ul class="social-list list-inline mt-3 mb-0">
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i
                class="fab fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                class="fab fa-google"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                class="fab fa-github"></i></a>
          </li>
        </ul> -->
      </div>
      <!-- end card-box -->
    </div>
    <!-- end col-->

    <div class="col-lg-8 col-xl-8">
      <div class="card-box">
        <mat-tab-group>
          <mat-tab label="About me">
            <div class="tab-pane show active" id="about-me">
              <h5 class="mb-4 text-uppercase">
                <i class="mdi mdi-briefcase mr-1"></i> My Biography
              </h5>

              <p class="text-muted mt-2">{{ organizer.bio }}</p>
            </div>
          </mat-tab>
          <mat-tab label="My trips">
            <div class="tab-pane" id="myTrips">
              <h5 class="mb-4 text-uppercase">
                <i class="mdi mdi-briefcase mr-1"></i> My trips
              </h5>

              <!------ Include the above in your HEAD tag ---------->

              <!-- details card section starts from here -->
              <button
                (click)="addTrip()"
                class="add-trip"
                mat-flat-button
                color="warn"
              >
                Add Trip
              </button>

              <div class="container">
                <div class="row">
                  <mat-card
                    class="col-md-6 col-sm-12 trip-item"
                    *ngFor="let trip of trips"
                  >
                    <mat-card-header>
                      <mat-card-title>{{ trip.title }}</mat-card-title>
                      <mat-card-subtitle>{{ trip.price }}</mat-card-subtitle>
                    </mat-card-header>
                    <img
                      mat-card-image
                      src="https://placeimg.com/380/230/nature"
                      alt=""
                    />
                    <mat-card-content>
                      <p>
                        {{ (trip.description | slice: 0:50) + "..." }}
                      </p>
                      <button
                        mat-raised-button
                        (click)="getTrip(trip._id)"
                        color="primary"
                      >
                        Show more
                      </button>
                    </mat-card-content>
                  </mat-card>
                  <!-- <div class="card-content col-md-4 col-sm-12" *ngFor="let trip of trips">
                        <div class="card-img">
                          <img
                            src="https://placeimg.com/380/230/nature"
                            alt=""
                          />
                          <span>
                            <h4>{{ trip.price }}</h4>
                          </span>
                        </div>
                        <div class="card-desc">
                          <h3>{{ trip.title }}</h3>
                          <p>
                            {{ trip.description }}
                          </p>
                          <a (click)="getTrip(trip._id)" class="btn-card"
                            >Show more</a
                          >
                        </div>
                      </div> -->
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="My proposals">
            <!-- <div class="tab-pane show active" id="myProposals">
              <ul *ngFor="let trip of proposals">
                <li>
                  <h3 class="text-primary">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    {{ trip.tripId.title }}
                  </h3>
                  <div>
                    Guide :
                    <a
                      x-no-tabbing
                      (click)="getGuideInfo(trip.guideId._id, trip.tripId._id)"
                      >{{
                        trip.guideId.first_name + " " + trip.guideId.last_name
                      }}</a
                    >
                  </div>
                  <div *ngIf="trip.accepted === true">Status : Accepted</div>
                  <div *ngIf="trip.accepted == null">
                    Status : Waiting response
                  </div>
                  <div *ngIf="trip.accepted == false">Status : Declined</div>
                  <div>date : {{ trip.tripId.date }}</div>
                  <div>Location : {{ trip.tripId.location }}</div>
                  <div>price : {{ trip.tripId.price }}</div>
                  <div>Max travelers : {{ trip.tripId.maxTravelers }}</div>
                  <div>
                    <p>
                      Trip description : <br />{{ trip.tripId.description }}
                    </p>
                  </div>

                  <button
                    type="submit"
                    (click)="
                      cancelProp(trip._id, trip.guideId._id, trip.tripId._id)
                    "
                    class="btn btn-danger btn-signin"
                  >
                    cancel Proposal
                  </button>
                </li>
              </ul>
              <div class="card" style="width: 18rem;"  *ngFor="let trip of proposals">
                <div class="card-header">
                  {{ trip.tripId.title }}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">       <a
                    x-no-tabbing
                    (click)="getGuideInfo(trip.guideId._id, trip.tripId._id)"
                    >{{
                      trip.guideId.first_name + " " + trip.guideId.last_name
                    }}</a
                  ></li>
                  <li class="list-group-item">                  <div *ngIf="trip.accepted === true">Status : Accepted</div>
                    <div *ngIf="trip.accepted == null">
                      Status : Waiting response
                    </div>
                    <div *ngIf="trip.accepted == false">Status : Declined</div></li>
                  <li class="list-group-item">{{ trip.tripId.date }}</li>
                  <li class="list-group-item">{{ trip.tripId.location }}</li>
                  <li class="list-group-item">{{ trip.tripId.price }}</li>
                  <li class="list-group-item">{{ trip.tripId.maxTravelers }}</li>
                  <li class="list-group-item">{{ trip.tripId.description }}</li>
                </ul>
              </div>
            </div> -->

            <div class="container">
              <div class="row">
                <mat-card class="col-md-6 col-sm-12 trip-item bg-light card card-accent" *ngFor="let trip of proposals">
                  <mat-card-header>
                    <mat-card-title>{{ trip.tripId.title }}</mat-card-title>
                  </mat-card-header>
                  <hr>
                  <mat-card-content>
                   <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-binoculars" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                    </svg><a
                      x-no-tabbing
                      (click)="getGuideInfo(trip.guideId._id, trip.tripId._id)"
                      >{{
                        trip.guideId.first_name + " " + trip.guideId.last_name
                      }}</a>
                      <hr>
                      <div class="info" *ngIf="trip.accepted === true"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-bar-chart-steps" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0z"/>
                        <rect width="5" height="2" x="2" y="1" rx=".5"/>
                        <rect width="8" height="2" x="4" y="5" rx=".5"/>
                        <path d="M6 9.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg><p> Accepted</p></div>
                      <div class="info" *ngIf="trip.accepted == null">
                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-bar-chart-steps" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0z"/>
                          <rect width="5" height="2" x="2" y="1" rx=".5"/>
                          <rect width="8" height="2" x="4" y="5" rx=".5"/>
                          <path d="M6 9.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                        </svg><p> Waiting response </p>
                      </div>
                      <div class="info"  *ngIf="trip.accepted == false"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-bar-chart-steps" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0z"/>
                        <rect width="5" height="2" x="2" y="1" rx=".5"/>
                        <rect width="8" height="2" x="4" y="5" rx=".5"/>
                        <path d="M6 9.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg> <p>Declined</p></div>
                      <hr>
                      <div ><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-calendar2-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 3.5c0-.276.244-.5.545-.5h10.91c.3 0 .545.224.545.5v1c0 .276-.244.5-.546.5H2.545C2.245 5 2 4.776 2 4.5v-1zm8.854 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                      </svg> {{ trip.tripId.date | date }}</div>
                      <hr>
                      <div ><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-map" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                      </svg> {{ trip.tripId.location }}</div>
                      <hr>
                      <div ><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                        <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                      </svg> {{ trip.tripId.price }}</div>
                      <hr>
                      <div ><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg> {{ trip.tripId.maxTravelers }}</div>
                      <hr>
                      <div> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-text-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                      </svg>{{ trip.tripId.description }}</div>
                      <hr>
                      <button
                      type="submit"
                      (click)="
                        cancelProp(trip._id, trip.guideId._id, trip.tripId._id)
                      "
                      class="btn btn-danger btn-signin"
                    >
                      cancel Proposal
                    </button>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Settings">
            <div class="tab-pane" id="settings">
              <form>
                <h5 class="mb-3 text-uppercase bg-light p-2">
                  <i class="mdi mdi-account-circle mr-1"></i> Personal Info
                </h5>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input
                        type="email"
                        class="form-control"
                        id="username"
                        placeholder="{{ organizer.username }}"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        placeholder="{{ organizer.first_name }}"
                        [(ngModel)]="organizer.first_name"
                        name="first"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        placeholder="{{ organizer.last_name }}"
                        [(ngModel)]="organizer.last_name"
                        name="last"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="sel1">Gender:</label>
                      <select
                        class="form-control"
                        id="sel1"
                        (change)="genderHandler($event)"
                      >
                        <option [(ngModel)]="organizer.gender" name="gender">
                          {{ organizer.gender }}
                        </option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                      </select>
                    </div>
                  </div> -->
                  <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="useremail">Email Address</label>
                      <input
                        type="email"
                        class="form-control"
                        id="useremail"
                        placeholder="{{ organizer.email }}"
                        [(ngModel)]="organizer.email"
                        name="email"
                      />
                      <span class="form-text text-muted"
                        ><small
                          >If you want to change email please
                          <a href="javascript: void(0);">click</a> here.</small
                        ></span
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Phone number</label>
                      <input
                        type="text"
                        class="form-control"
                        id="phone"
                        placeholder="{{ organizer.phone_number }}"
                        [(ngModel)]="organizer.phone_number"
                        name="phone"
                      />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input
                        type="text"
                        class="form-control"
                        id="location"
                        placeholder="{{ organizer.location }}"
                        [(ngModel)]="organizer.location"
                        name="location"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <dp-day-calendar theme="dp-material" [(ngModel)]="selectedDate" [config]="config">
                      </dp-day-calendar>
                    </div>
                  </div>
                </div> end col -->
                </div>
                <!-- end row -->

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="userbio">Bio</label>
                      <textarea
                        class="form-control"
                        id="userbio"
                        rows="4"
                        placeholder="Write something..."
                        [(ngModel)]="organizer.bio"
                        name="bio"
                      ></textarea>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->

                <!-- <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Company Info
              </h5>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" class="form-control" id="companyname" placeholder="Enter company name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cwebsite">Website</label>
                    <input type="text" class="form-control" id="cwebsite" placeholder="Enter website url">
                  </div> -->
                <!-- </div> end col -->
                <!-- </div> end row -->

                <!-- <h5 class="mb-3 text-uppercase bg-light p-2">
                  <i class="mdi mdi-earth mr-1"></i> Social
                </h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-fb">Facebook</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-facebook-square"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-fb"
                          placeholder="Url"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-tw">Twitter</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-twitter"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-tw"
                          placeholder="Username"
                        />
                      </div>
                    </div>
                  </div> -->
                <!-- end col -->
                <!-- </div> -->
                <!-- end row -->

                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-insta">Instagram</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-instagram"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-insta"
                          placeholder="Url"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-lin">Linkedin</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-linkedin"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-lin"
                          placeholder="Url"
                        />
                      </div>
                    </div>
                  </div> -->
                <!-- end col -->
                <!-- </div> -->
                <!-- end row -->

                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-sky">Skype</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-skype"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-sky"
                          placeholder="@username"
                        />
                      </div>
                    </div>
                  </div> -->
                <!-- end col -->
                <!-- </div> -->
                <!-- end row -->

                <div class="text-right">
                  <button
                    (click)="onClick()"
                    type="submit"
                    class="btn btn-success waves-effect waves-light mt-2"
                  >
                    <i class="mdi mdi-content-save"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- end card-box-->
    </div>

    <!-- end col -->
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
