<!-- Default form register -->
<form class="text-center border border-light p-5">
  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- User name -->
      <input type="text" id="defaultRegisterFormUserName" class="form-control" placeholder="User Name"
        [(ngModel)]="user.user_name" name="userName" />
    </div>
    <div class="col">
      <!-- First name -->
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First Name"
        [(ngModel)]="user.first_name" name="firstName" />
    </div>
    <div class="col">
      <!-- Last name -->
      <input name="lastName" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name"
        [(ngModel)]="user.last_name" />
    </div>
  </div>

  <!-- E-mail -->
  <input name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"
    [(ngModel)]="user.email" />

  <!-- Phone number -->
  <input name="phoneNumber" type="text" id="defaultRegisterPhonePassword" class="form-control"
    placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" [(ngModel)]="user.phone_number" />
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
    Optional - for two-step authentication
  </small>

  <!-- Password -->
  <input name="password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock" [(ngModel)]="user.password" />
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 8 characters and 1 digit
  </small>
  <input name="repeatPassword" type="password" id="repeatPassword" class="form-control" placeholder="Confirm password"
    [(ngModel)]="repeatPassword" />

  <!-- Phone number -->
  <input name="phoneNumber" type="text" id="defaultRegisterPhonePassword" class="form-control"
    placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" [(ngModel)]="user.phone_number" />

  <!-- Sign up button -->
  <button color="info" class="my-4" type="submit" class="landing-btn" (click)="onSubmit()">
    Sign Up
  </button>

  <hr />
</form>
<!-- Default form register -->
