/* .landing-btn {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bold;
} */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
    margin:40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
}

.container {
    margin-top: 7%;
    width: 70%;
}

.board {
    width: 70%;
    height: auto;
    margin: 20px auto;
    background: #fefefe;
    border-radius: 8px 8px 0 0;
}

.header {
  float: right;
  margin-bottom: 3%;
}

#signupBtn {
  margin-top: 30%;
}

input, label {
  margin-bottom: 5%;
}

