/* .landing-btn {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bold;
} */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
    margin:40px;
    font-family: 'Roboto Condensed', sans-serif;
    background: #16A085;

}

.head {
    color: #ECF0F1;
}

.board {
    width: 100%;
    height: auto;
    margin: 20px auto;
    background: #fefefe;
    border-radius: 8px 8px 0 0;
}

.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li {
    width: 25%;
}

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #aaa;
    transition: left 1s;
}

.nav-tabs > li.active:after {
    left: calc(50% - 10px);
    opacity: 1;
}

.nav-tabs > li[rel-index="-1"]:after {
    left: calc(50% + 100% - 10px);
}

.nav-tabs > li[rel-index="-2"]:after {
    left: calc(50% + 200% - 10px);
}

.nav-tabs > li[rel-index="-3"]:after {
    left: calc(50% + 300% - 10px);
}

.nav-tabs > li[rel-index="1"]:after {
    left: calc(50% - 100% - 10px);
}

.nav-tabs > li[rel-index="2"]:after {
    left: calc(50% - 200% - 10px);
}

.nav-tabs > li[rel-index="3"]:after {
    left: calc(50% - 300% - 10px);
}

.nav-tabs > li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.nav-tabs > li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.nav-tabs > li:nth-of-type(1) span {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

.nav-tabs > li:nth-of-type(1).active span {
    color: #fff;
    background: #3e5e9a;
}

.nav-tabs > li:nth-of-type(2) span {
    color: #f1685e;
    border: 2px solid #f1685e;
}

.nav-tabs > li:nth-of-type(2).active span {
    color: #fff;
    background: #f1685e;
}

.nav-tabs > li:nth-of-type(3) span {
    color: #febe29;
    border: 2px solid #febe29;
}

.nav-tabs > li:nth-of-type(3).active span {
    color: #fff;
    background: #febe29;
}

.nav-tabs > li:nth-of-type(4) span {
    color: #25c225;
    border: 2px solid #25c225;
}

.nav-tabs > li:nth-of-type(4).active span {
    color: #fff;
    background: #25c225;
}

.nav-tabs > li > a.disabled {
    opacity: 1;
}

.nav-tabs > li > a.disabled span {
    border-color: #ddd;
    color: #aaa;
}

div#step-1 {
    background: #fff;
}

div[role="tabpanel"]:after {
    content: "";
    display: block;
    clear: both;
}

.header {
  float: right;
}
