<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form
        class="login100-form validate-form"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <span class="login100-form-title p-b-34"> Create Account </span>

        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Type user name"
        >
          <!-- User Name -->
          <!-- <input
            formControlName="username"
            id="first-name"
            class="input100"
            type="text"
            name="username"
            placeholder="User name"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">User Name is required</div>
          </div>
        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"> -->
          <!-- First Name  -->
          <input
            formControlName="first_name"
            class="first-name"
            class="input100"
            type="text"
            name="first_name"
            placeholder="First Name"
            [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
          />
          <div
            *ngIf="submitted && f.first_name.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.first_name.errors.required">
              First Name is required
            </div>
          </div>
          <span class="focus-input100"></span>
        </div>
        <!-- Last Name  -->
        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Type last name"
        >
          <input
            formControlName="last_name"
            id="last-name"
            class="input100"
            type="text"
            name="last_name"
            placeholder="Last Name"
            [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"
          />
          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
            <div *ngIf="f.last_name.errors.required">Last Name is required</div>
          </div>
        </div>
        <!-- Email  -->
        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Type email"
        >
          <input
            formControlName="email"
            id="email"
            class="input100"
            type="text"
            name="email"
            placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
          <span class="focus-input100"></span>
        </div>
        <!-- Birthday -->
        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Type email"
        >
          <input
            class="date-input"
            type="date"
            formControlName="birthday"
            [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"
          />
          <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
            <div *ngIf="f.birthday.errors.required">
              Date of Birth is required
            </div>
          </div>
        </div>
        <!-- Password -->
        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Type password"
        >
          <input
            formControlName="password"
            class="input100"
            type="password"
            name="pass"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Password"
          />
          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <!-- Confirm Password -->
        <div
          class="wrap-input100 rs2-wrap-input100 validate-input m-b-20"
          data-validate="Confirm password"
        >
          <input
            formControlName="confirmPassword"
            class="input100"
            type="password"
            name="Confirm_password"
            placeholder="Confirm Password"
            [ngClass]="{
              'is-invalid': submitted && f.confirmPassword.errors
            }"
          />
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="f.confirmPassword !== f.password">
              Passwords must match
            </div>
          </div>
          <span class="focus-input100"></span>
        </div>
        <!-- Phone Number -->
        <div
          class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
          data-validate="Phone Number"
        >
          <input
            formControlName="phone_number"
            class="input100"
            type="text"
            name="Phone_Number"
            placeholder="Phone Number"
            [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }"
          />
          <div
            *ngIf="submitted && f.phone_number.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.phone_number.errors.required">
              Phone Number is required
            </div>
          </div>
          <span class="focus-input100"></span>
        </div>
        <!-- Location -->
        <div
          class="wrap-input100 rs2-wrap-input100 validate-input m-b-20"
          data-validate="location"
        >
          <input
            formControlName="location"
            class="input100"
            type="text"
            name="location"
            placeholder="Location"
            [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
          />
          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Region is required</div>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">Sign Up</button>
        </div>

        <div class="w-full text-center">
          <p>You already have an account?</p>
          <a [routerLink]="['/signin']" class="txt3"> Sign in </a>
        </div>
      </form>

      <div
        class="login100-more"
        style="background-image: url('../../assets/bg-02.jpg')"
      ></div>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
