html,
body,
.main_div {
  height: 100%;
  min-height: 100%;
}
.main_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
.section {
  width: 33%;
  position: relative;
  flex: auto;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.landing-img {
  transition: all ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}

.section:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.landing-btn {
  position: absolute;
  bottom: 100px;
  left: 26%;
}

.landing-btn:hover ~ .landing-img {
  filter: blur(0);
  -webkit-filter: blur(0);
}
.landing-btn {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bold;
}
/*
.landing-btn:hover > .landing-img {
  filter: blur(0);
  -webkit-filter: blur(0);
} */
