<app-visitor-navbar></app-visitor-navbar>
<div class="main_div">
  <div class="section" id="triper">
    <img class="landing-img" id="img1" src="assets/triper.jpg" alt="img" />
    <button (click)="onClick('traveler')"   id="pick-a-trip" class="landing-btn">
      Pick a trip
    </button>
  </div>
  <div class="section" id="organizer">
    <img class="landing-img" src=" assets/visiter.jpg" alt="imga" />
    <button (click)="onClick('organizer')" id="Organize-a-trip" class="landing-btn">
      Organize a trip
    </button>
  </div>

  <div class="section" id="guide ">
    <img class="landing-img" src="assets/guide.jpg" alt="imgag" />
    <button (click)="onClick('guide')" id="guide-a-trip" class="landing-btn">
      Guide a trip
    </button>
  </div>
</div>
