html,
body,
.main_div {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
.section {
  width: 33%;
  position: relative;
}
.landing-img {
  transition: all ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.landing-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bold;
}

#pick-a-trip:hover + #img1 {
  width: 50%;
  background-color: blue;
  filter: blur(0);
  -webkit-filter: blur(0);
}

/*
.landing-btn:hover > .landing-img {
  filter: blur(0);
  -webkit-filter: blur(0);
} */

@media (max-width: 800px) {
  .main_div {
    flex-direction: column;
  }
  .section {
    width: 100%;
    height: 30vh;
  }
}
