.profile-container {
  margin-top: 50px;
}

.mat-card {
  border-radius: 0px;
}

.tab-content {
  margin: 20px;
  width: fit-content;
}

.image-upload {
  margin: 0 auto;
}
.image-upload img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.image-upload>input {
  display: none;
}
.image-upload img:hover {
  border: solid rgb(78, 148, 240) 10px;
  cursor: pointer;
}
.bio-text {
  font-size: 1.5rem;
}

