<div class="container">
  <div class="row" *ngIf="!trips.length">
    <div class="col-12">
      <div class="alert alert-info" role="alert" >
        There are no booked trips for now!!
      </div>
    </div>
  </div>
  <div class="row header">
    <div class="col-6  text-center">
      <h2 id="trip-list align-middle">
        <strong> List of the trips you organized</strong>
      </h2>
    </div>
    <div class="col-6">
      <button (click)="addTrip()" class="add-trip" mat-fab color="accent">
        <p id="newTrip">+</p>
        <p></p>
      </button>
    </div>
  </div>
  <div class="row">
    <mat-card
      class="col-md-6 col-sm-12"
      *ngFor="let trip of trips | paginate: { itemsPerPage: 4, currentPage: p }"
    >
      <mat-card-header>
        <mat-card-title>{{ trip.title }}</mat-card-title>
        <mat-card-subtitle>{{ trip.price }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://placeimg.com/380/230/nature" alt="" />
      <mat-card-content>
        <p>
          {{ (trip.description | slice: 0:50) + "..." }}
        </p>
        <button
          mat-raised-button
          (click)="showTripDetail(trip._id)"
          color="warn"
        >
          Show more
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <pagination-controls
    class="align-middle"
    *ngIf="trips?.length > 4"
    (pageChange)="p = $event"
  >
  </pagination-controls>
</div>
