<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="alert alert-info" role="alert" *ngIf="!trips.length">
      </div>
    </div>
    <div class="col-12 header">
      <h2 id="trip-list align-middle">
        <strong> List of the trips you organized</strong>
      </h2>

      <button (click)="addTrip()" class="add-trip" mat-fab color="accent">
        <p id="newTrip">+</p>
        <p></p>
      </button>
    </div>

    <mat-card
      class="col-md-6 col-sm-12 trip-item"
      *ngFor="let trip of trips | paginate: { itemsPerPage: 4, currentPage: p }"
    >
      <mat-card-header>
        <mat-card-title>{{ trip.title }}</mat-card-title>
        <mat-card-subtitle>{{ trip.price }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://placeimg.com/380/230/nature" alt="" />
      <mat-card-content>
        <p>
          {{ (trip.description | slice: 0:50) + "..." }}
        </p>
        <button
          mat-raised-button
          (click)="showTripDetail(trip._id)"
          color="warn"
        >
          Show more
        </button>
      </mat-card-content>
    </mat-card>

    <pagination-controls
      class="align-middle"
      *ngIf="trips?.length > 4"
      (pageChange)="p = $event"
    >
    </pagination-controls>
  </div>
</div>
