<!-- <div class="avatar">
  <img src="../../assets/photo.jpg">
  <p> Bob Marley</p>
</div>
<div class="profile">
  <div class="personalInfo">
    <p> Personal Details </p>
    <p> First Name</p>
    <input matInput value="Bob">
    <p> Last Name</p>
    <input matInput value="Marley">
    <p> Gender </p>
    <select>
      <option>Male</option>
      <option>Female</option>
      <option>Uncertain</option>
    </select>
    <p> Date of Birth</p>
    <input type="date">
    <p>Country</p>
    <input matInput value="Somewhere">
    <p>Phone </p>
    <input type="tel" placeholder="+216">
  </div>
</div>


<div id="description">
  <form>
    <label>Trip description:</label>
    <br>
    <textarea name="description" rows="10" cols="50">
  At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
  </textarea>
  </form>
  <button class="signInBtn" mat-flat-button color="warn">Save</button>
</div> -->

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xl-4">
      <div class="card-box text-center">
        <img [src]="'../../assets/photo.jpg'" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

        <h4 class="mb-0">{{fullName}}</h4>

        <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Update Photo</button>

        <div class="text-left mt-3">
          <h4 class="font-13 text-uppercase">About Me :</h4>
          <p class="text-muted font-13 mb-3">
            {{organizer.bio}}
          </p>
          <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">{{fullName}}</span></p>

          <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ml-2">+216
              123 1234</span></p>

          <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2 ">{{organizer.email}}</span></p>

          <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span
              class="ml-2">{{organizer.location}}</span></p>
        </div>

        <!-- <ul class="social-list list-inline mt-3 mb-0">
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i
                class="fab fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                class="fab fa-google"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                class="fab fa-github"></i></a>
          </li>
        </ul> -->
      </div> <!-- end card-box -->



    </div> <!-- end col-->

    <div class="col-lg-8 col-xl-8">
      <div class="card-box">
        <ul class="nav nav-pills navtab-bg">
          <li class="nav-item">
            <a href="#about-me" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 active">
              <i class="mdi mdi-face-profile mr-1"></i>About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
              <i class="mdi mdi-settings-outline mr-1"></i>Settings
            </a>
          </li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane show active" id="about-me">

            <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
              Bio</h5>


            <p class="text-muted mt-2">{{organizer.bio}}</p>





          </div>
          <!-- end timeline content-->

          <div class="tab-pane" id="settings">
            <form>
              <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Personal Info
              </h5>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder={{organizer.firstName}}
                      [(ngModel)]="organizer.firstName" name="first">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder={{organizer.lastName}}
                      [(ngModel)]="organizer.lastName" name="last">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sel1">Gender:</label>
                    <select class="form-control" id="sel1">
                      <option>--</option>
                      <option>Female</option>
                      <option>Male</option>
                    </select>
                  </div>
                </div>
                <!-- end col -->
              </div> <!-- end row -->


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="useremail">Email Address</label>
                    <input type="email" class="form-control" id="useremail" placeholder={{organizer.email}}
                      [(ngModel)]="organizer.email" name="email">
                    <span class="form-text text-muted"><small>If you want to change email please <a
                          href="javascript: void(0);">click</a> here.</small></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userpassword">Password</label>
                    <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                    <span class="form-text text-muted"><small>If you want to change password please <a
                          href="javascript: void(0);">click</a> here.</small></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder={{organizer.location}}
                      [(ngModel)]="organizer.location" name="location">
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <div>

                      <dp-day-calendar theme="dp-material" [(ngModel)]="selectedDate" [config]="config">
                      </dp-day-calendar>
                    </div>

                  </div>
                </div> end col -->
              </div> <!-- end row -->

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="userbio">Bio</label>
                    <textarea class="form-control" id="userbio" rows="4" placeholder="Write something..."
                      [(ngModel)]="organizer.bio" name="bio"></textarea>
                  </div>
                </div> <!-- end col -->
              </div> <!-- end row -->


              <!-- <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Company Info
              </h5>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" class="form-control" id="companyname" placeholder="Enter company name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cwebsite">Website</label>
                    <input type="text" class="form-control" id="cwebsite" placeholder="Enter website url">
                  </div> -->
              <!-- </div> end col -->
              <!-- </div> end row -->

              <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth mr-1"></i> Social</h5>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="social-fb">Facebook</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-facebook-square"></i></span>
                      </div>
                      <input type="text" class="form-control" id="social-fb" placeholder="Url">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="social-tw">Twitter</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-twitter"></i></span>
                      </div>
                      <input type="text" class="form-control" id="social-tw" placeholder="Username">
                    </div>
                  </div>
                </div> <!-- end col -->
              </div> <!-- end row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="social-insta">Instagram</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                      </div>
                      <input type="text" class="form-control" id="social-insta" placeholder="Url">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="social-lin">Linkedin</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
                      </div>
                      <input type="text" class="form-control" id="social-lin" placeholder="Url">
                    </div>
                  </div>
                </div> <!-- end col -->
              </div> <!-- end row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="social-sky">Skype</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fab fa-skype"></i></span>
                      </div>
                      <input type="text" class="form-control" id="social-sky" placeholder="@username">
                    </div>
                  </div>
                </div><!-- end col -->
              </div> <!-- end row -->

              <div class="text-right">
                <button (click)="onClick()" type="submit" class="btn btn-success waves-effect waves-light mt-2"><i
                    class="mdi mdi-content-save"></i>
                  Save</button>
              </div>
            </form>
          </div>
          <!-- end settings content-->

        </div> <!-- end tab-content -->
      </div> <!-- end card-box-->

    </div> <!-- end col -->
  </div>
</div>
