@charset "UTF-8";

@import url("../../styles/landing-page-template.css");

#contactUsHR {
  max-width: 5rem;
  border-width: 0.2rem;
  border-color: #cac8c8;
}

#techProf {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttonDiscoover{
  margin-top: 2rem;
  width: 200px;
  background-color: #cf0008;
  color: white;
}

