@charset "UTF-8";

@import url("../../styles/landing-page-template.css");

.header-title {
  font-family: "Architects Daughter";
  font-size: 4rem;
  padding-top: 1rem;
}

#contactUsHR {
  max-width: 5rem;
  border-width: 0.2rem;
  border-color: #cac8c8;
}

#techProf {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn {
  margin-top: 2rem;
  padding: 1em 1.5em;
  border: solid 1px #cf0008;
  color: #cf0008;
  font-weight: 500;
  background-color: transparent;
}

.header-btn:hover {
  background-color: #cf0008;
  color: #fff;
}

.header-text {
  font-size: 2.75rem;
  padding-bottom: 1rem;
}

.about-text {
  font-size: 1rem;
}

.joinus-text {
  margin-top: 0.8rem;
  font-size: 1rem;
}

.joinus-title {
  margin-bottom: 1.5rem !important;
}

.image-trip {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: .2s ease;
  cursor: pointer;
}

.image-trip:hover {
  transform: scale(1.1);
  transition: .2s ease;
}
